<a href="https://colab.research.google.com/github/joshid43016/AnalyticsDataEcosystem/blob/main/Learnspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pwd
!ls
!python --version

/content
sample_data
Python 3.7.10

In [7]:

#!wget https://www.apache.org/dyn/closer.lua/spark/spark-3.1.2/spark-3.1.2-bin-hadoop3.2.tgz
!pip install pyspark
#!tar -xvzf spark-3.0.0-bin-hadoop2.7.tgz
#!pip install pypi
!pip install findspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 65kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 41.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=c089e1b2769810cf77519b947122f4288ac971256cbaa9c9a0d3a488d0375eff
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2
Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (1.4.2)

In [8]:
!ls

!pyspark

sample_data  spark-3.1.2-bin-hadoop3.2.tgz
Python 3.7.10 (default, May  3 2021, 02:48:31)
[GCC 7.5.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/lib/python3.7/dist-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/07/10 15:39:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 3.1.2
      /_/

Using Python version 3.7.10 (default, May  3 2021 02:48:31)
Spark context Web UI available at http://b25fdb44a8f3:4040
Spark context available as 'sc' (master = local[*], app id = local-1625931573660).
SparkSession available as 'spark'.
>>> help
Type help() for interactive help, or help(object) for help about object.
>>> help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> sql
Help on package sql:

NNAAMMEE
    sql

PPAACCKKAAGGEE  CCOONNTTEENNTTSS
    column_guesser
    connection
    magic
    parse
    run

FFIILLEE
    /usr/local/lib/python3.7/dist-packages/sql/__init__.py


help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.
>>> quit()

In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark 3.0 Setup on Google Colab").getOrCreate()
print(spark.sparkContext.appName)

PySpark 3.0 Setup on Google Colab

In [13]:
df = spark.read.csv(header=True, sep=",", inferSchema=True, path="/content/home_insurance.csv")
df.show(2)


records_count = df.count()
print("records_count is %d" % records_count)

+----------+-----------+-----------+-------------+----------------+-------+--------+------------+-----------------+---------------------+-------------------+-----------+-----------------+--------------------+-------------------+--------------+---------------+----------------+--------------+---------------+----------+-------------+-----------------+------+----------+----------+--------+-----------------+-----------------+--------+------+--------------+-----------+----------+--------------+-------------+---------+--------------+------------+----------+---------+-------------+--------------+-----------------+-------------------+--------------------+---------------------+----------------------+--------------------+---------------------+---------------------+----------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+--------+-------+--------+--------+-------------------+----------+---+-------+
|QUOTE_DATE|COVER_START|CLAIM3YEARS|P1_EMP_STATUS|P1_PT_EMP_STATUS|BUS_USE|CLERICAL|AD_BUILDINGS|RISK_RATED_AREA_B|SUM_INSURED_BUILDINGS|NCD_GRANTED_YEARS_B|AD_CONTENTS|RISK_RATED_AREA_C|SUM_INSURED_CONTENTS|NCD_GRANTED_YEARS_C|CONTENTS_COVER|BUILDINGS_COVER|SPEC_SUM_INSURED|SPEC_ITEM_PREM|UNSPEC_HRP_PREM|    P1_DOB|P1_MAR_STATUS|P1_POLICY_REFUSED|P1_SEX|APPR_ALARM|APPR_LOCKS|BEDROOMS|ROOF_CONSTRUCTION|WALL_CONSTRUCTION|FLOODING|LISTED|MAX_DAYS_UNOCC|NEIGH_WATCH|OCC_STATUS|OWNERSHIP_TYPE|PAYING_GUESTS|PROP_TYPE|SAFE_INSTALLED|SEC_DISC_REQ|SUBSIDENCE|YEARBUILT|CAMPAIGN_DESC|PAYMENT_METHOD|PAYMENT_FREQUENCY|LEGAL_ADDON_PRE_REN|LEGAL_ADDON_POST_REN|HOME_EM_ADDON_PRE_REN|HOME_EM_ADDON_POST_REN|GARDEN_ADDON_PRE_REN|GARDEN_ADDON_POST_REN|KEYCARE_ADDON_PRE_REN|KEYCARE_ADDON_POST_REN|HP1_ADDON_PRE_REN|HP1_ADDON_POST_REN|HP2_ADDON_PRE_REN|HP2_ADDON_POST_REN|HP3_ADDON_PRE_REN|HP3_ADDON_POST_REN|MTA_FLAG|MTA_FAP|MTA_APRP|MTA_DATE|LAST_ANN_PREM_GROSS|POL_STATUS|  i| Police|
+----------+-----------+-----------+-------------+----------------+-------+--------+------------+-----------------+---------------------+-------------------+-----------+-----------------+--------------------+-------------------+--------------+---------------+----------------+--------------+---------------+----------+-------------+-----------------+------+----------+----------+--------+-----------------+-----------------+--------+------+--------------+-----------+----------+--------------+-------------+---------+--------------+------------+----------+---------+-------------+--------------+-----------------+-------------------+--------------------+---------------------+----------------------+--------------------+---------------------+---------------------+----------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+--------+-------+--------+--------+-------------------+----------+---+-------+
|11/22/2007| 22/11/2007|          N|            R|            null|      N|    null|           Y|               19|              1000000|                  7|          Y|                6|               50000|                  7|             Y|              Y|            7500|         44.42|          12.45|15/06/1939|            O|                N|     M|         N|         Y|       3|               11|               15|       Y|     3|             0|          N|        PH|             8|            0|       10|             Y|           Y|         N|     1960|         null|        PureDD|             null|                  N|                   N|                    N|                     N|                   N|                    N|                    N|                     N|                N|                 N|                N|                 N|                N|                 N|       N|   null|    null|    null|             274.81|    Lapsed|  1|P000001|
|11/22/2007|   1/1/2008|          N|            E|            null|      Y|       N|           Y|               25|              1000000|                  6|          Y|                9|               50000|                  7|             Y|              Y|               0|           0.0|           24.6|20/05/1970|            M|                N|     M|         N|         N|       3|               11|               15|       Y|     3|             0|          N|        PH|             3|            0|        2|             N|           N|         N|     1960|         null|        PureDD|             null|                  Y|                   Y|                    N|                     N|                   N|                    N|                    N|                     N|                N|                 N|                N|                 N|                N|                 N|       Y| 308.83|   -9.27|    null|             308.83|      Live|  2|P000002|
+----------+-----------+-----------+-------------+----------------+-------+--------+------------+-----------------+---------------------+-------------------+-----------+-----------------+--------------------+-------------------+--------------+---------------+----------------+--------------+---------------+----------+-------------+-----------------+------+----------+----------+--------+-----------------+-----------------+--------+------+--------------+-----------+----------+--------------+-------------+---------+--------------+------------+----------+---------+-------------+--------------+-----------------+-------------------+--------------------+---------------------+----------------------+--------------------+---------------------+---------------------+----------------------+-----------------+------------------+-----------------+------------------+-----------------+------------------+--------+-------+--------+--------+-------------------+----------+---+-------+
only showing top 2 rows

records_count is 256136

In [14]:
#option 1

users_list_0 = ["1|John|London", "2|Martin|New York", "3|Sam|Sydney", "4|Alan|Mexico City", "5|Jacob|Florida"]
print(users_list_0)

users_list_0_rdd = spark.sparkContext.parallelize(users_list_0)

users_list_0_rdd = users_list_0_rdd.map(lambda ele: (int(ele.split('|')[0]), ele.split('|')[1], ele.split('|')[2]))

users_df_0 = spark.createDataFrame(users_list_0_rdd)
users_df_0.show(10)
users_df_0.printSchema()

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

users_schema = StructType([
                          StructField("id", IntegerType(), True),
                          StructField("name", StringType(), True),
                          StructField("city", StringType(), True)])

users_df_01 = spark.createDataFrame(users_list_0_rdd, schema=users_schema)
users_df_01.show(10)
users_df_01.printSchema()

['1|John|London', '2|Martin|New York', '3|Sam|Sydney', '4|Alan|Mexico City', '5|Jacob|Florida']
+---+------+-----------+
| _1|    _2|         _3|
+---+------+-----------+
|  1|  John|     London|
|  2|Martin|   New York|
|  3|   Sam|     Sydney|
|  4|  Alan|Mexico City|
|  5| Jacob|    Florida|
+---+------+-----------+

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)

+---+------+-----------+
| id|  name|       city|
+---+------+-----------+
|  1|  John|     London|
|  2|Martin|   New York|
|  3|   Sam|     Sydney|
|  4|  Alan|Mexico City|
|  5| Jacob|    Florida|
+---+------+-----------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)

In [15]:
#option 2

users_list_1 = [(1, "John", "London"), (2, "Martin", "New York"), (3, "Sam", "Sydney"), (4, "Alan", "Mexico City"), (5, "Jacob", "Florida")]
print(users_list_1)

users_df_1 = spark.createDataFrame(users_list_1)
users_df_1.show(10)
users_df_1.printSchema()

from pyspark.sql.types import StructType, StructField, IntegerType, StringType

users_schema = StructType([
                          StructField("id", IntegerType(), True),
                          StructField("name", StringType(), True),
                          StructField("city", StringType(), True)])

users_df_11 = spark.createDataFrame(users_list_1, schema=users_schema)
users_df_11.show(10)
users_df_11.printSchema()

[(1, 'John', 'London'), (2, 'Martin', 'New York'), (3, 'Sam', 'Sydney'), (4, 'Alan', 'Mexico City'), (5, 'Jacob', 'Florida')]
+---+------+-----------+
| _1|    _2|         _3|
+---+------+-----------+
|  1|  John|     London|
|  2|Martin|   New York|
|  3|   Sam|     Sydney|
|  4|  Alan|Mexico City|
|  5| Jacob|    Florida|
+---+------+-----------+

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)

+---+------+-----------+
| id|  name|       city|
+---+------+-----------+
|  1|  John|     London|
|  2|Martin|   New York|
|  3|   Sam|     Sydney|
|  4|  Alan|Mexico City|
|  5| Jacob|    Florida|
+---+------+-----------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)

In [16]:
#Option 3 

from pyspark.sql import Row

users_list_2 = [Row(1, "John", "London"), Row(2, "Martin", "New York"), Row(3, "Sam", "Sydney"), Row(4, "Alan", "Mexico City"), Row(5, "Jacob", "Florida")]
print(users_list_2)

users_df_2 = spark.createDataFrame(users_list_2)
users_df_2.show(10)
users_df_2.printSchema()

users_df_21 = spark.createDataFrame(users_list_2, schema=users_schema)
users_df_21.show(10)
users_df_21.printSchema()

[<Row(1, 'John', 'London')>, <Row(2, 'Martin', 'New York')>, <Row(3, 'Sam', 'Sydney')>, <Row(4, 'Alan', 'Mexico City')>, <Row(5, 'Jacob', 'Florida')>]
+---+------+-----------+
| _1|    _2|         _3|
+---+------+-----------+
|  1|  John|     London|
|  2|Martin|   New York|
|  3|   Sam|     Sydney|
|  4|  Alan|Mexico City|
|  5| Jacob|    Florida|
+---+------+-----------+

root
 |-- _1: long (nullable = true)
 |-- _2: string (nullable = true)
 |-- _3: string (nullable = true)

+---+------+-----------+
| id|  name|       city|
+---+------+-----------+
|  1|  John|     London|
|  2|Martin|   New York|
|  3|   Sam|     Sydney|
|  4|  Alan|Mexico City|
|  5| Jacob|    Florida|
+---+------+-----------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)

In [17]:
#option 4

users_list_3 = [{"id": 1, "name": "John", "city": "London"}, 
                {"id": 2, "name": "Martin", "city": "New York"}, 
                {"id": 3, "name": "Sam", "city": "Sydney"}, 
                {"id": 4, "name": "Alan", "city": "Mexico City"}, 
                {"id": 5, "name": "Jacob", "city": "Florida"}]
print(users_list_3)

users_df_3 = spark.createDataFrame(users_list_3)
users_df_3.show(10)
users_df_3.printSchema()

users_df_31 = spark.createDataFrame(users_list_3, schema=users_schema)
users_df_31.show(10)
users_df_31.printSchema()

[{'id': 1, 'name': 'John', 'city': 'London'}, {'id': 2, 'name': 'Martin', 'city': 'New York'}, {'id': 3, 'name': 'Sam', 'city': 'Sydney'}, {'id': 4, 'name': 'Alan', 'city': 'Mexico City'}, {'id': 5, 'name': 'Jacob', 'city': 'Florida'}]
+-----------+---+------+
|       city| id|  name|
+-----------+---+------+
|     London|  1|  John|
|   New York|  2|Martin|
|     Sydney|  3|   Sam|
|Mexico City|  4|  Alan|
|    Florida|  5| Jacob|
+-----------+---+------+

root
 |-- city: string (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

+---+------+-----------+
| id|  name|       city|
+---+------+-----------+
|  1|  John|     London|
|  2|Martin|   New York|
|  3|   Sam|     Sydney|
|  4|  Alan|Mexico City|
|  5| Jacob|    Florida|
+---+------+-----------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)

In [20]:
spark.stop()

In [21]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Create DataFrame from JSON File in PySpark 3.0").getOrCreate()
print(spark.sparkContext.appName)

Create DataFrame from JSON File in PySpark 3.0

In [33]:
from pyspark.sql.types import *
user_schema = StructType([
                     StructField("userId", IntegerType(), True),
                     StructField("firstName", StringType(), True),
                     StructField("lastName", StringType(), True),
                     StructField("phonenumber", StringType(), True)
])

In [42]:
json_file_path_1 = "/content/user_details1.json"


df = spark.read.json(path=json_file_path_1)

df.show()

json_file_path_2 = "/content/user_details.json"


df2 = spark.read.json(path=json_file_path_2 ,  multiLine=True) 

df2.show()

+---------+--------+--------------+------+
|firstName|lastName|   phoneNumber|userId|
+---------+--------+--------------+------+
|    Raman|    kaur|+1 657 897 234|     1|
|  Raman12|  kaur12|+1 127 817 224|     2|
+---------+--------+--------------+------+

+---------+--------+--------------+------+
|firstName|lastName|   phoneNumber|userId|
+---------+--------+--------------+------+
|    Raman|    kaur|+1 657 897 234|     1|
|  Raman12|  kaur12|+1 127 817 224|     2|
+---------+--------+--------------+------+